{{ block "index" .}}
<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title></title>
	<link href="css/style.css" rel="stylesheet" />
	<script src="https://unpkg.com/htmx.org@2.0.0"
		integrity="sha384-wS5l5IKJBvK6sPTKa2WZ1js3d947pvWXbPJ1OmWfEuxLgeHcEbjUUA5i9V5ZkpCw"
		crossorigin="anonymous"></script>
	<script src="js/script.js" defer></script>
</head>

<script>
	document.addEventListener("DOMContentLoaded", (event) => {
		document.body.addEventListener("htmx:beforeSwap", function (evt) {
			if (evt.detail.xhr.status === 422) {
				evt.detail.shouldSwap = true;
				evt.detail.isError = false;
			}
		});
	});
</script>

<body>
	{{ template "form" .Form }}
	<hr />
	{{ template "display" .Data }}
</body>

</html>
{{ end }}
<!---->
{{ block "form" . }}
<form hx-swap="outerHTML" hx-post="/contacts">
	name:
	<input type="text" {{ if .Values.name }} value="{{ .Values.name }}" {{ end }} name="name" />
	<!---->
	email:
	<input type="email" {{ if .Values.email }} value="{{ .Values.email }}" {{ end }} name="email" />
	{{ if .Errors.email }}
	<div style="color: red">{{ .Errors.email }}</div>
	{{ end }}
	<button type="submit">Create Contact</button>
</form>
{{ end }}
<!---->
{{ block "display" . }}
<div id="contacts" style="display: flex; flex-direction: column">
	{{ range .Contacts }} {{ template "contact" . }} {{ end }}
</div>
{{ end }}
<!---->
{{ block "contact" . }}
<div>
	Name: <span>{{ .Name }}</span>
	<!---->
	Email: <span>{{ .Email }}</span>
</div>
{{ end }}
<!---->
{{ block "oob-contact" . }}
<div hx-swap-oob="afterbegin" id="contacts">{{ template "contact" . }}</div>
{{ end }}
